name: Deployment pipeline

on:
  push:
    branches:
      - main

  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  SKIP_DEPLOY: ${{ (github.event_name == 'push' && contains(join(github.event.commits.*.message, ''),'#skip')) && 'true' || 'false' }}

jobs:
  test-build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - name: Install dependencies
        run: npm install

      - name: Check style
        run: npm run eslint

      - name: Run unit tests
        run: npm test

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run test:e2e

      - name: Build application
        run: npm run build

      - name: Deploy to Azure Web App (on push to main)
        if: ${{ env.SKIP_DEPLOY != 'true'}}
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'mats-pokedex'
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          slot-name: 'Production'
          package: .

  tag_and_release:
    needs: [test-build-deploy]
    runs-on: ubuntu-latest
    if: vars.SKIP_DEPLOY != 'true'

    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag

        uses: anothrNick/github-tag-action@1.75.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: 'patch'
